.main-container {
  padding-top: 5%;
  background: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;

  .drivers-container {
    width: 45%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));

  }
}
