.main-container {
  padding-top: 5%;
  background: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;

  .drivers-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px
  }
}
